{% extends "layout.html" %}
{% block head%}
{{super()}}
{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Profile</h1>
        <form action="" method="post" name="saveprofileform" id="profileform">
            {{ form.hidden_tag() }}

            {{ form.firstname.label }}
            {{ form.firstname(class_="form-control") }} {% for error in form.firstname.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

            {{ form.lastname.label }}
            {{ form.lastname(class_="form-control") }} {% for error in form.lastname.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

            {{ form.email.label }}
            {{ form.email(class_="form-control") }} {% for error in form.email.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

            {{ form.password.label }}
            {{ form.password(class_="form-control") }} {% for error in form.password.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

            <br />
            {{ form.submit(class_="btn") }}
        </form>
    </div>
    <div class="jumbotron">
        <h1>Your stations</h1>
        {% for form_station in forms_station %}
            <h2>{{ loop.index }} - {{ form_station.name.data }}</h2>
            <form action="" method="post" name="savestationform{{ loop.index }}" id="stationform{{ loop.index }}">
                {{ form_station.hidden_tag() }}

                {{ form_station.name.label }}
                {{ form_station.name(class_="form-control") }} {% for error in form_station.name.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

                {{ form_station.altitude.label }}
                {{ form_station.altitude(class_="form-control") }} {% for error in form_station.altitude.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

                {{ form_station.latitude.label }}
                {{ form_station.latitude(class_="form-control") }} {% for error in form_station.latitude.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

                {{ form_station.longitude.label }}
                {{ form_station.longitude(class_="form-control") }} {% for error in form_station.longitude.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

                <br />
                {{ form_station.submit(class_="btn") }}
            </form>
        {% endfor %}
    </div>
</div>
{% endblock %}