{% extends "layout.html" %}
{% block head%}
{{super()}}
{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Profile</h1>
        <form action="" method="post" name="saveprofileform" id="profileform">
            {{ form.hidden_tag() }}

            {{ form.firstname.label }}
            {{ form.firstname(class_="form-control") }} {% for error in form.firstname.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

            {{ form.lastname.label }}
            {{ form.lastname(class_="form-control") }} {% for error in form.lastname.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

            {{ form.email.label }}
            {{ form.email(class_="form-control") }} {% for error in form.email.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

            {{ form.password.label }}
            {{ form.password(class_="form-control") }} {% for error in form.password.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

            <br />
            {{ form.submit(class_="btn") }}
        </form>
        <h2>Your API key</h2>
        <div class="well">
            {{ user.apikey }}
        </div>
    </div>
    <div class="jumbotron">
        <h1>Your stations</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Altitude</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Mesures sent</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for station in user.stations|sort(attribute="name") %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="/station/{{ station.id }}">{{ station.name }}</a></td>
                    <td>{{ station.altitude }}</td>
                    <td>{{ station.latitude }}</td>
                    <td>{{ station.longitude }}</td>
                    <td>{{ station.measures.all()|count }}</td>
                    <td>
                        <a href="/station/{{ station.id }}"><i class="glyphicon glyphicon-th-list" title="Measures"></i></a>
                        <a href="/edit_station/{{ station.id }}"><i class="glyphicon glyphicon-edit" title="Edit this station"></i></a>
                        <a href="/delete_station/{{ station.id }}"><i class="glyphicon glyphicon-remove" title="Delete this station"></i></a>
                    </td>
            {% endfor %}
            </tbody>
        </table>
        <a href="/create_station/" class="btn btn-default">Add a new station</a>
    </div>
</div>
{% endblock %}